body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #f8f9fa;
    flex-direction: column;
}

.header-text {
    text-align: center;
    margin-bottom: 20px;
}

.container {
    text-align: center;
}

.logo img {
    width: 272px;
    height: 92px;
}

.search-bar {
    margin-top: 20px;
}

.search-bar input {
    width: 400px;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #dfe1e5;
    border-radius: 24px;
    outline: none;
}

.search-bar button {
    padding: 10px 20px;
    font-size: 16px;
    margin: 0 5px;
    border: none;
    border-radius: 24px;
    background-color: #f8f9fa;
    cursor: pointer;
    outline: none;
}

.search-bar button:hover {
    background-color: #e8e8e8;
}
